servername = "syn."
serverdesc = "syn"
protocolname = "TS6" #choices: TS6 - CASE SENSITIVE.
loglevel = "info verbose network" #seperate by spaces, options:  network, info, commands, error, verbose
reportchannel = "#services"
sid = "58X"
remotehost = "127.0.0.1"
remoteport = 6667
remotepass = "secret"
